indent.log
prace.aux
prace.bbl
prace.blg
prace.fdb_latexmk
prace.fls
prace.loa
prace.lof
prace.log
prace.lot
prace.out
prace.pdf
prace.synctex.gz
prace.toc
tex/pdfa-1b.xmpi
.DS_Store

.terraform
operators-385815-008a03a2fd73.json

.terraform.lock.hcl

tests/environments/gke/.terraform.tfstate.lock.info

tests/environments/gke/terraform.tfstate

tests/environments/gke/terraform.tfstate.backup
