indent.log
prace.aux
prace.bbl
prace.blg
prace.fdb_latexmk
prace.fls
prace.loa
prace.lof
prace.log
prace.lot
prace.out
prace.pdf
prace.synctex.gz
prace.toc
tex/pdfa-1b.xmpi
.DS_Store

tests/operability/ease_of_use/operators-385815-008a03a2fd73.json
